
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p'), local('Mplus1p-Regular'), url('fonts/Mplus1p.woff') format('woff2'), url('fonts/Mplus1p.woff2') format('woff'), url('fonts/Mplus1p.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p ExtraBold'), local('Mplus1p-ExtraBold'), url('fonts/Mplus1pextrabold.woff2') format('woff2'), url('fonts/Mplus1pextrabold.woff') format('woff'), url('fonts/Mplus1pextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Black'), local('Mplus1p-Black'), url('fonts/Mplus1pblack.woff2') format('woff2'), url('fonts/Mplus1pblack.woff') format('woff'), url('FONTS/Mplus1pblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Medium'), local('Mplus1p-Medium'), url('fonts/Mplus1pmedium.woff2') format('woff2'), url('Mplus1pmedium.woff') format('woff'), url('Mplus1pmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1146px;
  margin: auto;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 144px;
}
header a{
  text-decoration: none;
}
header .logo{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 2px;
  color: #30124E;
}
nav li{
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #30233D;
  padding-right: 54px;
}
nav li:last-child{
  padding-right: 0;
}
#toggle{
  width: 70px;
  display: none;
}
header .tel{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #30233D;
}
.myfreedom{
  background: url(images/backgroundmain.png) no-repeat;
  background-size: cover;
  
}
.myfreedom .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 378px;
}
.myfreedom .container h1{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 80px;
  color: #FCFCFC;
}
.myfreedom .container p{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #F4F4ED;
}
.text h2{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #F61067;
  padding-top: 72px;
  padding-bottom: 12px;
}
.text p{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: #30233D;
  max-width: 740px;
  padding-bottom: 60px;
}
.notes{
  display: flex;
  justify-content: space-between;
  padding-bottom: 91px;
  flex-wrap: wrap;
}
.flex-item{
  position: relative;
  border: 1px solid rgba(246, 16, 103, 0.5);
  width: 31.59%;
}
.flex-item::before{
  content: '';
  background-image: url(images/Icon.svg);
  position: absolute;
  width: 72px;
  height: 72px;
  left: 36px;
  top: 54px;
}
.flex-item h3{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: #30233D;
  padding: 144px 36px 13px;
}
.flex-item p{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16.2px;
  line-height: 26px;
  color: #30233D;
  padding: 0 36px;
}
footer{
    height: 198px;
    width: 100%;
    background: linear-gradient(180deg, #33008D 0%, #150433 100%);
}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 198px;
}
footer a{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FCFCFC;
}
footer p{
  font-family: 'M PLUS 1p', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11.7px;
  line-height: 19px;
  color: #FCFCFC;
}
@media (max-width:800px) {
  .notes > div{
      width: 50%;
  }
  header .container{
      background-color: rgb(126, 113, 138);
      justify-content: space-evenly;
  }
  header nav{
      display: none;
  }
  header .tel{
    font-size: 18px;
  }
  #toggle{
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 5px;
  }
  #toggle:hover + nav{
    display: block;
    position: absolute;
    right: 5px;
    top: 105px;
  }
  nav li {
    display: block;
    padding: 0;
    background-color: ivory ;
  }
}
@media (max-width:600px) {
  .notes > div{
      width: 97%;
      margin: auto;
  }
  header .container{
    background-color: rgb(126, 113, 138);
    justify-content: flex-start;
  }
}